<div class="courses-panel">

    <div class="header">
  
      <h2 class="title">All Applications</h2>
  
      <button mat-mini-fab>
        <!-- <mat-icon class="add-course-btn" (click)="onAddCourse()">add</mat-icon> -->
        <mat-icon class="add-course-btn" routerLink="/app-form" >add</mat-icon>
      </button>

      <button mat-mini-fab>
        <!-- <mat-icon class="add-course-btn" (click)="onAddCourse()">add</mat-icon> -->
        <mat-icon (click)="reload(true)">refresh</mat-icon>
      </button>
  
    </div>
  
    <mat-tab-group>
  
        <mat-tab label="New">
            <!-- <courses-card-list (courseChanged)="reload()"
              [courses]="beginnerCourses$ | async"> -->
              <app-application-list (dataChanged)="dataChanged()" [dataSource]="(newApplications$ | async)!"></app-application-list>
          </mat-tab>
          <mat-tab label="Submitted">
            <!-- <courses-card-list (courseChanged)="reload()"
              [courses]="beginnerCourses$ | async"> -->
              <app-application-list (dataChanged)="dataChanged()" [dataSource]="(submittedApplications$ | async)!"></app-application-list>
          </mat-tab>
          <mat-tab label="Accepted">
            <!-- <courses-card-list (courseChanged)="reload()"
              [courses]="beginnerCourses$ | async"> -->
              <app-application-list (dataChanged)="dataChanged()" [dataSource]="(aprovedApplications$ | async)!"></app-application-list>
          </mat-tab>
          <mat-tab label="Rejected">
            <!-- <courses-card-list (courseChanged)="reload()"
              [courses]="beginnerCourses$ | async"> -->
              <app-application-list (dataChanged)="dataChanged()" [dataSource]="(rejectedApplications$ | async)!"></app-application-list>
          </mat-tab>
          
  
    </mat-tab-group>
  
  
  </div>