<form [formGroup]="appForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>New Application</mat-card-title>
    </mat-card-header>



    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="half-width">
            <input matInput placeholder="Application number" formControlName="number" enable="false">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Title" formControlName="title">
            <mat-error *ngIf="appForm.controls['title'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput multiline="true" placeholder="Description" formControlName="description"></textarea>
            <mat-error *ngIf="appForm.controls['description'].hasError('required')">
              Description is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Applicant name" formControlName="applicantsName">
            <mat-error *ngIf="appForm.controls['applicantsName'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Created Date" formControlName="createdDate">
            <mat-error *ngIf="appForm.controls['createdDate'].hasError('required')">
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>      

      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="applicationStatus">
            <mat-radio-button [value]="0">New</mat-radio-button>
            <mat-radio-button [value]="1">Submitted</mat-radio-button>
            <mat-radio-button [value]="2">Approved</mat-radio-button>
            <mat-radio-button [value]="3">Rejected</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button #Submit mat-raised-button color="primary" type="submit" [disabled]="!isNew">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
